1. Length & Breadth of a rectangle

In [2]:
L = int(input())
B = int(input())
if L==B:
    print('It is a SQUARE')
else:
    print('It is a RECTANGLE')

 65
 65

It is a SQUARE

2.Take three integer values from the user and print the greatest among them.

In [10]:
x = int(input())
y = int(input())
z = int(input())
if x>=y:
    if x>=z:
        print(x,'is greatest')
    else:
        print(z,'is greatest')
elif y>=z:
    print(y,'is greatest')
else:
    print(z,'is greatest')

 7
 8
 2

8 is greatest

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [16]:
A = int(input('enter attendance: '))
Total_Class = int(input('enter number of classes: '))
Attendance = (A/Total_Class)*100 
P=75
if Attendance>=P:
    print('student is allowed to sit in the exam')
else:
    print('student is not allowed to sit in the exam')

enter attendance:  33
enter number of classes:  35

student is allowed to sit in the exam

4. A school has the following rules for the grading system

In [21]:
M = int(input('Enter Marks: '))
if M < 25:
    print('F')
elif 25<= M < 44:
    print('E')
elif 45<=M<=49:
    print('D')
elif 50<=M<=59:
    print('C')
elif 60<=M<=79:
    print('B')
elif 80<=M<=89:
    print ('A')
else:
    print('A+')

Enter Marks:  95

A+

5. Print the following pattern using for and while loop.

In [33]:
for i in range(8,4,-1):
    for j in range(1,i):
        print(j,end="")
    print()

1234567
123456
12345
1234

In [40]:
i = 7
while i>=4:
    j=(1,i)   
    print(j,end="")
    i-=1

(1, 7)(1, 6)(1, 5)(1, 4)

6.Display numbers from -100 to -10 using for loop

In [1]:
for num in range(-100,-9):
    print(num, end="")

-100-99-98-97-96-95-94-93-92-91-90-89-88-87-86-85-84-83-82-81-80-79-78-77-76-75-74-73-72-71-70-69-68-67-66-65-64-63-62-61-60-59-58-57-56-55-54-53-52-51-50-49-48-47-46-45-44-43-42-41-40-39-38-37-36-35-34-33-32-31-30-29-28-27-26-25-24-23-22-21-20-19-18-17-16-15-14-13-12-11-10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [1]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,int(num**0.5)+1):
            if num % i ==  0:
                return False
    return True

def sum_prime(start,end):
    prime_sum = 0
    for num in range(start,end+1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

start_range = 10
end_range = 1000
result = sum_prime(start_range,end_range)
print("Sum of Prime Numbers:", result)

Sum of Prime Numbers: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [6]:
import math
n = int( input('Enter an integer number : ' ))
F = math.factorial(n)

print("The factorial of", n, "is", F)

Enter an integer number :  10

The factorial of 10 is 3628800

9. Reverse a given integer number 27956240710.

In [ ]:
x = int(27956240710)
Rev_number = 0

while (x>0):
    remainder = x % 10
    Rev_number=(Rev_number*10)+remainder
    n=n//10
    print ("The reverse number is:{}".format(Rev_number))

10. Print the following pattern using for and while loop.

In [4]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("###",end="")
    print()

###
######
#########
############
###############

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [5]:
n = 15
num1 = 0
num2 = 1
next_number = num2
count = 1

while count<= n:
    print (next_number, end=" ")
    count+=1
    num1,num2 = num2,next_number
    next_number = num1 + num2
    print ()

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [32]:
Li=[1,3,5,[2,3],'True']

Li.insert(4,False)
Li.remove('True')

In [33]:
Li

[1, 3, 5, [2, 3], False]

13. Find the intersection (common) of two sets.

In [5]:
s1={1,4,6,8}
s2={'True',1,2,10}
s1.intersection(s2)

{1}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max number. User_input = [1,9,3,4,5,200,54]

In [ ]:
lst = []